<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.2626432819716!2d73.06655541393405!3d19.314406149456566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7bd4114d8b8c5%3A0x6a835644e25320dd!2sShalina%20Height%2C%20Main%20Rd%2C%20Avachit%20Pada%2C%20Bhiwandi%2C%20Maharashtra%20421302!5e0!3m2!1sen!2sin!4v1673878217106!5m2!1sen!2sin" 
    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>